<header><nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="home">Home</a>   
        <a class="nav-link active" aria-current="page" href="sobre">Sobre</a>
        <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Faça Login
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="login-prof">Login Professor</a></li>
                    <li><a class="dropdown-item" href="login-aluno">Login Aluno</a></li>
                    <li><a class="dropdown-item" href="login-adm">Secretaria</a></li>
                    <li><a class="dropdown-item" href="cad-aluno">Cadastro De Aluno</a></li>
                    <li><a class="dropdown-item" href="cad-prof">Cadastro De Professor</a></li>
                  </ul>
                </li> 
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>
